.articleHeading {
  padding-top: 3%;
  margin-top: 80px;
  font-size: 30px;
  font-family: "Ubuntu", sans-serif;
  margin-bottom: 20px;
}

.articlePreview {
  margin-top: 80px;
  font-size: 30px;
  font-family: "Ubuntu", sans-serif;
  margin-bottom: 20px;
}
