.main {
    display: flex;
    max-width: 60%;
    margin: 1em 1em;
    padding: 40px 35px 40px 35px;
    background-color: #f8f8f8;
    box-shadow: 1px 5px 5px #dbd9d9;

}

.bio {
    font-family: 'Righteous', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    color: #979595;
}

.body {
    display: flex;
    flex-direction: column;
}

h3,
h5 {
    margin: 0;
}

.subtitle {
    margin: 0;
    font-size: 14px;
    color: rgb(94, 92, 92);
    padding-top: 15px;
}

.body__header {
    display: flex;
    align-items: center;
    margin-bottom: 1px;
}

.body__main {
    margin-bottom: 5px;
    padding-top: 10px;
    font-family: 'Righteous', cursive;
    font-weight: 600;
}

.header__title {
    font-size: 15px;
    font-weight: 600;
    font-family: 'Reem Kufi', sans-serif;
}

.image,
.imagediv {
    width: 40px;
    height: 40px;

}

.imagediv {
    border-radius: 50px;
    background-color: rgb(143, 139, 139);
    margin-right: 8px;
}

.button {
    border-radius: 15px;
    border: 1px solid grey;
    margin-left: 10px;
    color: rgb(90, 90, 92);
    padding: 5px 8px;
}