.main {
    display: flex;
    width: 30%;
    margin: 0 1em;
    margin-bottom: 25px;
    max-height: 170px;
}

.body {
    display: flex;
    flex-direction: column;
}

/* h3,h5{
     margin: 0;
 } */
.subtitle {
    margin: 0;
    font-size: 14px;
    color: grey;
    padding-left: 45px;
}

.body__header {
    display: flex;
    align-items: center;
    margin-bottom: 1px;
}

.body__main {
    margin-bottom: 5px;
    padding-left: 45px;
}

.header__title {
    font-size: 15px;
    font-weight: 600;
}

.image,
.imagediv {
    width: 40px;
    height: 40px;

}

.imagediv {
    border-radius: 50px;
    background-color: rgb(143, 139, 139);
    margin-right: 8px;
}

.postWrapper {
    max-width: 25vw;
    overflow: hidden;
}

.bio {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box !important;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;
}