.main {
    display: flex;
    /* max-width: 60%; */
    margin: 1em 1em;
    /* padding: 40px 35px 40px 35px; */
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.username {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.usernameleft {
    display: flex;
    align-items: center;
}

.header__title {
    font-size: 17px;
    font-weight: 600;
    padding-left: 10px;

}

.image,
.imagediv {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    /* align-items: center; */
}

.image {
    border: 1px solid grey;

}

.imagediv {
    border-radius: 50px;
    background-color: rgb(143, 139, 139);
    margin-right: 8px;
}

.titlediv {
    width: 70%;
}

.title {
    font-size: 45px;
    margin-top: 40px;
    margin-bottom: 35px;
    align-items: center;

}

.time {
    font-weight: 400;
    font-size: 15px;
    padding-left: 10px;
}

.body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 60vw;
    font-size: 24px;
    line-height: 60px;
    font-weight: 400;
    color: rgb(59, 58, 58);
    text-align: justify;
}

.body img {
    width: 60vw;
}