body {
  /* background-color: white; */
  color: black;
  font-family: "Ubuntu", sans-serif;
}

.blog-list {
  margin-top: 50px;
}

.userListHeading {
  margin-left: 2.5rem;
}

.userList {
  margin-left: 2rem;
  padding-top: 3%;
}