.main {
  display: flex;
  position: relative;
}

.dropdown {
  position: absolute;
  padding: 1px 5px 1px 1px;
  /* height: 200px; */
  width: 175px;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  border: 1px solid rgb(223, 222, 223);
  box-shadow: 1px 5px 5px #bbadad;
  right: 3em;
  top: 4em;
  /* left: -87px; */
  /* box-sizing: 0 5px 25px rgba(0,0,0,0.1); */
}

.dropdown::before {
  content: " ";
  position: absolute;
  right: 50px;
  top: -10px;
  width: 2px;
  border-bottom: 10px solid rgb(255, 255, 255);
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

.icon {
  margin-left: 15px;
  margin-right: 15px;
  height: 30px;
  width: 30px;
  cursor: pointer;
  border-radius: 50%;
}

.dropdown h3 {
  text-align: center;
  width: 100%;
  font-size: 14px;
  /* padding: 20px 0 7px 0; */
  font-weight: 500;
  line-height: 1em;
  overflow-wrap: break-word;
  padding: 14px 6px;
  padding-bottom: 0;
}

.dropdown p {
  height: auto;
  overflow-wrap: break-word;
  text-align: center;
  padding: 0 6px;
  font-size: 12px;
  color: #acabab;
  font-weight: 400;
}

a {
  color: rgb(37, 37, 37);
}

.dropdown ul {
  padding: 0 10px;
  /* text-align: center; */
}

.dropdown ul li {
  list-style: none;
  padding: 10px 5px;
  border-top: 1px solid rgba(0, 0, 0, 0.09);
  direction: flex;
  align-items: center;
}

.dropdown ul li:hover a {
  color: cadetblue;
}

.hide {
  display: none;
}

.allicon {
  padding: 10px 10px 0 10px;
  color: rgb(68, 67, 67);
}

.allicon:hover {
  color: cadetblue;
  cursor: pointer;
}

.logout {
  cursor: pointer;
}