.main{
    display: flex;
    position: relative;
}
.dropdown{
    position: absolute;
    padding: 10px 20px;
    height: 200px;
    width: 150px;
    background-color: rgb(199, 144, 144);
    border-radius: 15px;
    border: 1px solid blueviolet;
    right: 0;
    top: 35px;
}