.container {
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.createaccount {
    color: rgb(0, 140, 255);
}

.main {
    background-color: #f8f9fa;
    border-radius: 15px;
    /* height: 59vh; */
    /* width: 20vw; */
    box-shadow: grey 3px 3px 16px 0px;
    display: flex;
    flex-direction: column;
    padding: 3em 3em;
    align-items: center;
}

.main div {
    margin: 1em 0;
}

.main h3 {
    color: black;
    font-weight: 600;
    padding-bottom: 14px;
    font-size: 27px;
}

.inputDiv {
    display: flex;
    flex-direction: column;
}

.input {
    border-radius: 13px;
    border: 1px solid grey;
    outline: none;
    padding-left: 8px;
    width: 250px;
    height: 28px;
}

.loginButton {
    outline: none;
    border: none;
    background-color: rgb(0, 140, 255);
    color: white;
    border-radius: 6px;
    padding: 0.6em 1.7em;
    margin-top: 1em;
    font-size: 16px;
    font-weight: 600;
}

.loginButton:disabled {
    cursor: not-allowed;
    background-color: rgb(106, 175, 231);

}

.loginButton:hover {
    cursor: pointer;
}

.label {
    color: rgb(0, 0, 0);
    font-weight: 600;
    font-size: 16px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.error {
    font-size: 13px;
    margin-top: 4px;
    color: rgb(224, 37, 37);
    margin-bottom: 0;
}

.main h6 {
    font-size: 14px;
    margin: 1em 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}